@charset "UTF-8";
@font-face {
  font-family: "ObjectSans-Regular";
  src: url(../fonts/ObjectSans-Regular.ttf);
}

@font-face {
  font-family: "ObjectSans-Heavy";
  src: url(../fonts/ObjectSans-Heavy.ttf);
}

body {
  height: 100%;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-family: "ObjectSans-Regular";
  font-size: 14px;
}

body.lock {
  overflow: hidden;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul[class], ol[class] {
  list-style: none;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

h1 {
  font-size: 36px;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

a,
button {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.container {
  max-width: 846px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  padding: 39px 0;
  border-bottom: 3px solid #cdcdcc;
  position: relative;
  z-index: 999;
  background-color: #fff;
}

@media screen and (max-width: 900px) {
  .header {
    padding: 25px 0;
  }
}

@media screen and (max-width: 570px) {
  .header {
    padding: 10px 0;
  }
}

.header__check {
  padding-top: 33px;
  padding-bottom: 23px;
}

@media screen and (max-width: 900px) {
  .header__check {
    padding-top: 25px;
  }
}

@media screen and (max-width: 570px) {
  .header__check {
    padding: 10px 0;
  }
}

.header__container {
  max-width: 988px;
  padding: 0 15px;
  margin: 0 auto;
}

.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__button {
  display: block;
  text-decoration: none;
  font-size: 16px;
  text-align: center;
  color: #fff;
  border-radius: 6px;
  padding: 11px 10px 8px 10px;
  width: 201px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 900px) {
  .header__button {
    padding: 10px;
    font-size: 14px;
  }
}

@media screen and (max-width: 690px) {
  .header__button {
    width: 150px;
    font-size: 12px;
    padding: 5px;
  }
}

@media screen and (max-width: 520px) {
  .header__button {
    font-size: 7px;
    width: 85px;
  }
}

.header__button--participation {
  background-image: -webkit-gradient(linear, left top, right top, from(#ffc000), to(#ff9c00));
  background-image: linear-gradient(to right, #ffc000 0%, #ff9c00 100%);
}

.header__button--participation:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#ffc000), to(#da8b0d));
  background-image: linear-gradient(to right, #ffc000 0%, #da8b0d 100%);
}

.header__button--authorization {
  background-image: -webkit-gradient(linear, left top, right top, from(#7776ff), to(#ae2cf1));
  background-image: linear-gradient(to right, #7776ff 0%, #ae2cf1 100%);
}

.header__button--authorization:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#7776ff), to(#9206d8));
  background-image: linear-gradient(to right, #7776ff 0%, #9206d8 100%);
}

.logo {
  display: block;
}

@media screen and (max-width: 900px) {
  .logo {
    max-width: 200px;
  }
}

@media screen and (max-width: 600px) {
  .logo {
    max-width: 150px;
  }
}

@media screen and (max-width: 520px) {
  .logo {
    max-width: 75px;
  }
}

.main {
  background-image: url("../images/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 32px 0;
}

.main__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 11px;
          column-gap: 11px;
  row-gap: 11px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-puprle {
  background: url("../images/receipt-bg.png") center/cover no-repeat, -webkit-gradient(linear, left top, right top, from(#7776ff), to(#ae2cf1));
  background: url("../images/receipt-bg.png") center/cover no-repeat, linear-gradient(to right, #7776ff 0%, #ae2cf1 100%);
}

.banner {
  margin-bottom: 10px;
}

.banner__img {
  border-radius: 10px;
  overflow: hidden;
}

.btn {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 28px;
  padding-bottom: 31px;
  color: #ffffff;
  font-size: 20px;
  line-height: 16.09px;
  text-transform: uppercase;
  border-radius: 10px;
  min-height: 179px;
  width: 100%;
}

@media screen and (max-width: 680px) {
  .btn {
    font-size: 17px;
    min-height: 150px;
  }
}

@media screen and (max-width: 500px) {
  .btn {
    min-height: 100px;
    font-size: 14px;
    padding: 20px 0;
  }
}

@media screen and (max-width: 370px) {
  .btn {
    font-size: 12px;
  }
}

.btn__img {
  margin-bottom: 24px;
}

@media screen and (max-width: 680px) {
  .btn__img {
    width: 60px;
  }
}

@media screen and (max-width: 500px) {
  .btn__img {
    width: 50px;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 370px) {
  .btn__img {
    width: 30px;
  }
}

.btn--blue {
  background-color: #009ee3;
}

.btn--blue:hover {
  background-color: #188abc;
}

.btn--purple {
  background-color: #784bcb;
}

.btn--purple:hover {
  background-color: #5c27be;
}

.btn--lilac {
  background-color: #c94bcb;
}

.btn--lilac:hover {
  background-color: #9d279f;
}

.btn--sapphire {
  background-color: #484dac;
}

.btn--sapphire:hover {
  background-color: #141a86;
}

.btn--width {
  width: 49.3%;
}

@media screen and (max-width: 830px) {
  .btn--width {
    width: 49%;
  }
}

@media screen and (max-width: 580px) {
  .btn--width {
    width: 100%;
  }
}

.footer__container {
  max-width: 951px;
  padding: 0 15px;
  margin: 0 auto;
}

.footer__top {
  background: url("../images/footer-bg.png") right/contain no-repeat, -webkit-gradient(linear, left top, right top, from(#ffc000), to(#ff9c00));
  background: url("../images/footer-bg.png") right/contain no-repeat, linear-gradient(to right, #ffc000 0%, #ff9c00 100%);
  padding: 60px 0;
}

@media screen and (max-width: 580px) {
  .footer__top {
    padding: 30px 0;
  }
}

@media screen and (max-width: 400px) {
  .footer__top {
    padding: 15px 0;
  }
}

.footer__button {
  display: block;
  text-decoration: none;
  font-size: 14px;
  text-align: center;
  color: #000;
  padding: 12px 15px 9px 15px;
  background-color: #fff;
  border-radius: 6px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  cursor: pointer;
}

@media screen and (max-width: 400px) {
  .footer__button {
    font-size: 9px;
    padding: 7px;
  }
}

.footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 12px;
          column-gap: 12px;
}

@media screen and (max-width: 580px) {
  .footer__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 22px 0;
}

@media screen and (max-width: 900px) {
  .footer__bottom {
    padding: 15px 0;
  }
}

.footer__bottom-line {
  height: 3px;
  background-color: #cdcdcc;
  width: 43%;
}

@media screen and (max-width: 1920px) {
  .footer__bottom-line {
    width: 38%;
  }
}

@media screen and (max-width: 900px) {
  .footer__bottom-line {
    width: 35%;
  }
}

@media screen and (max-width: 500px) {
  .footer__bottom-line {
    width: 33%;
  }
}

@media screen and (max-width: 400px) {
  .footer__bottom-line {
    width: 30%;
  }
}

@media screen and (max-width: 580px) {
  .footer__button {
    width: 300px;
  }
}

@media screen and (max-width: 400px) {
  .footer__button {
    width: auto;
  }
}

@media screen and (max-width: 580px) {
  .footer__button:not(:last-child) {
    margin-bottom: 5px;
  }
}

.footer__button:hover {
  background-color: #fdefef;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 38px;
}

@media screen and (max-width: 700px) {
  .social {
    margin: 0 15px;
  }
}

.social__link {
  display: block;
  position: relative;
}

.social__link:not(:last-child) {
  margin-right: 26px;
}

@media screen and (max-width: 700px) {
  .social__link:not(:last-child) {
    margin-right: 13px;
  }
}

.receipt__wrap {
  padding: 36px 0;
}

.receipt-form {
  margin: 0 auto;
  background-color: #ffffff;
  max-width: 519px;
  padding: 26px 33px 36px 33px;
  border-radius: 10px;
}

@media screen and (max-width: 600px) {
  .receipt-form {
    padding: 20px;
  }
}

@media screen and (max-width: 400px) {
  .receipt-form {
    padding: 15px;
  }
}

.receipt-form__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px 0;
  border-top: 1px solid #cdcdcc;
  border-bottom: 1px solid #cdcdcc;
  margin-bottom: 24px;
}

@media screen and (max-width: 600px) {
  .receipt-form__wrap {
    padding: 10px 0;
    margin-bottom: 10px;
  }
}

.receipt-form__button {
  display: block;
  text-decoration: none;
  background-image: -webkit-gradient(linear, left top, right top, from(#ffc000), to(#ff9c00));
  background-image: linear-gradient(to right, #ffc000 0%, #ff9c00 100%);
  color: #ffffff;
  font-size: 19px;
  text-align: center;
  border-radius: 6px;
  padding: 11px 0;
  width: 100%;
  border: none;
  outline: none;
  min-height: 42px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .receipt-form__button {
    font-size: 12px;
    padding: 10px;
  }
}

@media screen and (max-width: 400px) {
  .receipt-form__button {
    min-height: auto;
  }
}

.field {
  width: 100%;
  margin-bottom: 19px;
}

@media screen and (max-width: 600px) {
  .field {
    margin-bottom: 10px;
  }
}

.field--width {
  width: 48%;
}

.field__label {
  display: block;
  font-size: 19px;
  margin-bottom: 23px;
}

@media screen and (max-width: 900px) {
  .field__label {
    font-size: 15px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 600px) {
  .field__label {
    margin-bottom: 5px;
    font-size: 12px;
  }
}

.field__group {
  display: block;
  position: relative;
  padding-left: 6px;
}

.field__group::before {
  position: absolute;
  left: 0;
  content: '';
  width: 6px;
  height: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffc000), to(#ff9c00));
  background-image: linear-gradient(to top, #ffc000 0%, #ff9c00 100%);
}

.field__group--registration {
  width: 100%;
}

.field__input {
  width: 100%;
}

.field__span {
  font-size: 15px;
}

@media screen and (max-width: 600px) {
  .field__span {
    font-size: 12px;
  }
}

@media screen and (max-width: 400px) {
  .field__span {
    font-size: 10px;
  }
}

.field__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.field__phone {
  font-size: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 13px;
}

@media screen and (max-width: 600px) {
  .field__phone {
    font-size: 12px;
  }
}

input {
  border: none;
  outline: none;
  -webkit-box-shadow: 1px 2px 5px rgba(46, 24, 24, 0.22);
          box-shadow: 1px 2px 5px rgba(46, 24, 24, 0.22);
  padding: 14px 17px;
  color: #d3d3d3;
  font-size: 19px;
  max-height: 42px;
}

input::-webkit-input-placeholder {
  color: #d3d3d3;
}

input:-ms-input-placeholder {
  color: #d3d3d3;
}

input::-ms-input-placeholder {
  color: #d3d3d3;
}

input::placeholder {
  color: #d3d3d3;
}

@media screen and (max-width: 900px) {
  input {
    font-size: 15px;
  }
}

@media screen and (max-width: 600px) {
  input {
    padding: 10px 17px;
    max-height: 35px;
    font-size: 12px;
  }
}

@media screen and (max-width: 400px) {
  input {
    max-height: 25px;
    font-size: 10px;
    padding: 10px 10px;
  }
}

.password-control {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 6px;
  display: inline-block;
}

@media screen and (max-width: 600px) {
  .password-control-img {
    max-width: 20px;
  }
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.popup-mail {
  background: url("../images/receipt-bg.png") center/cover no-repeat, -webkit-gradient(linear, left top, right top, from(#7776ff), to(#ae2cf1));
  background: url("../images/receipt-bg.png") center/cover no-repeat, linear-gradient(to right, #7776ff 0%, #ae2cf1 100%);
}

.popup-promotions {
  background-image: -webkit-gradient(linear, left top, right top, from(#7776ff), to(#ae2cf1));
  background-image: linear-gradient(to right, #7776ff 0%, #ae2cf1 100%);
}

.popup-gallery {
  background-image: -webkit-gradient(linear, left top, right top, from(#7776ff), to(#ae2cf1));
  background-image: linear-gradient(to right, #7776ff 0%, #ae2cf1 100%);
}

.popup-rules {
  background: url("../images/receipt-bg.png") center/cover no-repeat, -webkit-gradient(linear, left top, right top, from(#7776ff), to(#ae2cf1));
  background: url("../images/receipt-bg.png") center/cover no-repeat, linear-gradient(to right, #7776ff 0%, #ae2cf1 100%);
}

.popup-share {
  background: url("../images/receipt-bg.png") center/cover no-repeat, -webkit-gradient(linear, left top, right top, from(#7776ff), to(#ae2cf1));
  background: url("../images/receipt-bg.png") center/cover no-repeat, linear-gradient(to right, #7776ff 0%, #ae2cf1 100%);
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup.open .popup__content {
  -webkit-transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
          transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
  opacity: 1;
}

.popup__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 200px 10px;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

@media screen and (max-width: 900px) {
  .popup__body {
    padding: 150px 10px;
  }
}

@media screen and (max-width: 600px) {
  .popup__body {
    padding: 110px 10px;
  }
}

@media screen and (max-width: 570px) {
  .popup__body {
    padding: 80px 10px;
  }
}

@media screen and (max-width: 500px) {
  .popup__body {
    padding: 60px 10px;
  }
}

.popup__content {
  background-color: #fff;
  color: #000;
  max-width: 800px;
  padding: 30px;
  position: relative;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  opacity: 0;
  -webkit-transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
          transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}

.popup__content--mail {
  max-width: 732px;
  padding: 0;
  border-radius: 10px;
}

.popup__content--promotions {
  padding: 0;
  z-index: 0;
}

.popup__content--rules {
  border-radius: 10px;
  max-width: 830px;
}

@media screen and (max-width: 600px) {
  .popup__content--rules {
    padding: 20px;
  }
}

@media screen and (max-width: 400px) {
  .popup__content--rules {
    padding: 15px;
  }
}

.popup__content--share {
  max-width: 519px;
  border-radius: 10px;
}

@media screen and (max-width: 600px) {
  .popup__content--share {
    padding: 20px;
  }
}

.popup__content--share::before {
  position: absolute;
  right: 0;
  bottom: 0;
  content: '';
  background-image: url("../images/present.png");
  width: 159px;
  height: 151px;
  background-repeat: no-repeat;
}

.popup__content--gallery {
  background-color: transparent;
  max-width: 100%;
}

.popup__content_image {
  padding: 0;
}

.popup__image img {
  max-width: 100%;
  vertical-align: top;
}

.popup__close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  color: #000;
  text-decoration: none;
  z-index: 2;
}

.popup__close--circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  top: -7px;
  right: -7px;
  width: 24px;
  height: 24px;
  -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.22);
          box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.22);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffffff), to(#f7f7f7));
  background-image: linear-gradient(to top, #ffffff 0%, #f7f7f7 100%);
}

.popup__title {
  font-size: 40px;
  margin: 0px 0px 1em 0px;
}

.mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 19px;
}

.mail__text {
  text-align: center;
  padding: 42px 45px 15px 45px;
}

@media screen and (max-width: 900px) {
  .mail__text {
    font-size: 15px;
  }
}

@media screen and (max-width: 600px) {
  .mail__text {
    font-size: 12px;
    padding: 20px;
  }
}

@media screen and (max-width: 400px) {
  .mail__text {
    font-size: 10px;
  }
}

.mail__note {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 39px;
  background-color: #ffee92;
  width: 100%;
  padding: 15px 0 12px 0;
}

@media screen and (max-width: 600px) {
  .mail__note {
    padding: 15px;
    margin-bottom: 20px;
  }
}

.mail__note-img {
  margin-right: 24px;
}

@media screen and (max-width: 600px) {
  .mail__note-img {
    margin-right: 10px;
    max-width: 30px;
  }
}

.mail__note-text {
  max-width: 414px;
}

@media screen and (max-width: 900px) {
  .mail__note-text {
    font-size: 15px;
  }
}

@media screen and (max-width: 600px) {
  .mail__note-text {
    font-size: 12px;
    max-width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .mail__note-text {
    font-size: 10px;
  }
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 900px) {
  .swiper-promotions {
    width: 700px;
  }
}

@media screen and (max-width: 760px) {
  .swiper-promotions {
    width: 600px;
  }
}

@media screen and (max-width: 640px) {
  .swiper-promotions {
    width: 500px;
  }
}

@media screen and (max-width: 550px) {
  .swiper-promotions {
    width: 400px;
  }
}

@media screen and (max-width: 430px) {
  .swiper-promotions {
    width: 300px;
  }
}

.swiper-stock {
  max-width: 671px;
}

@media screen and (max-width: 991px) {
  .swiper-stock {
    max-width: none;
  }
}

.swiper-button {
  border-radius: 50%;
  width: 38px;
  height: 38px;
  -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.22);
          box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.22);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffffff), to(#f7f7f7));
  background-image: linear-gradient(to top, #ffffff 0%, #f7f7f7 100%);
}

@media screen and (max-width: 600px) {
  .swiper-button {
    width: 25px;
    height: 25px;
  }
}

.swiper-button__promotions-next {
  right: 6px;
}

.swiper-button__promotions-prev {
  left: 6px;
}

.swiper-button__gallery-next {
  padding: 16px 19px 15px 24px;
}

@media screen and (max-width: 800px) {
  .swiper-button__gallery-next {
    padding: 0;
  }
}

.swiper-button__gallery-prev {
  padding: 16px 24px 15px 19px;
}

@media screen and (max-width: 800px) {
  .swiper-button__gallery-prev {
    padding: 0;
  }
}

.swiper-button__stock-button {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media screen and (max-width: 600px) {
  .swiper-button__stock-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.swiper-button__stock-next {
  position: absolute;
  right: 0;
  z-index: 999;
  padding: 10px 11px 9px 15px;
}

@media screen and (max-width: 991px) {
  .swiper-button__stock-next {
    right: -15px;
  }
}

@media screen and (max-width: 600px) {
  .swiper-button__stock-next {
    padding: 0;
  }
}

.swiper-button__stock-prev {
  position: absolute;
  left: 0;
  padding: 10px 15px 9px 11px;
  z-index: 999;
}

@media screen and (max-width: 991px) {
  .swiper-button__stock-prev {
    left: -15px;
  }
}

@media screen and (max-width: 600px) {
  .swiper-button__stock-prev {
    padding: 0;
  }
}

.swiper-button--gallery {
  width: 65px;
  height: 65px;
}

@media screen and (max-width: 800px) {
  .swiper-button--gallery {
    width: 40px;
    height: 40px;
  }
}

@media screen and (max-width: 600px) {
  .swiper-button--gallery {
    width: 25px;
    height: 25px;
  }
}

@media screen and (max-width: 600px) {
  .swiper-button-img {
    width: 8px;
    height: 9px;
  }
}

@media screen and (max-width: 800px) {
  .swiper-button-img--gallery {
    height: 15px;
  }
}

@media screen and (max-width: 600px) {
  .swiper-button-img--gallery {
    width: 8px;
    height: 9px;
  }
}

.swiper-gallery {
  position: unset;
}

.swiper-next {
  position: absolute;
  right: 0;
}

@media screen and (max-width: 800px) {
  .swiper-next {
    right: 11px;
  }
}

.swiper-prev {
  position: absolute;
  left: 0;
}

@media screen and (max-width: 800px) {
  .swiper-prev {
    left: 11px;
  }
}

.rules__border {
  border-bottom: 1px solid #cdcdcc;
  padding: 20px 0;
  border-top: 1px solid #cdcdcc;
}

@media screen and (max-width: 600px) {
  .rules__border {
    padding: 15px 0;
  }
}

@media screen and (max-width: 400px) {
  .rules__border {
    padding: 10px 0;
  }
}

.rules__text {
  max-height: 500px;
  overflow-y: scroll;
}

.rules__text::-webkit-scrollbar {
  width: 13px;
  height: 13px;
  border-radius: 50%;
}

.rules__text::-webkit-scrollbar-button {
  display: none;
}

.rules__text::-webkit-scrollbar-track {
  background: -webkit-gradient(linear, left top, right top, color-stop(40%, white), color-stop(40%, #ff9c00), color-stop(60%, white));
  background: linear-gradient(to right, white 40%, #ff9c00 40% 60%, white 60%);
}

.rules__text::-webkit-scrollbar-track-piece {
  background-color: transparent;
  width: 13px;
}

.rules__text::-webkit-scrollbar-thumb {
  height: 10px;
  max-width: 10px;
  -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.22);
          box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.22);
  background-color: #ffffff;
  border-radius: 20px;
  border: 3px solid #ff9c00;
}

.rules__text::-webkit-scrollbar-corner {
  background: -webkit-gradient(linear, left bottom, left top, from(#ffc000), to(#ff9c00));
  background: linear-gradient(to top, #ffc000 0%, #ff9c00 100%);
}

.rules__item::before {
  content: counters(item, ".") ". ";
  counter-increment: item;
  font-weight: bold;
}

@media screen and (max-width: 900px) {
  .rules__item {
    font-size: 15px;
  }
}

@media screen and (max-width: 600px) {
  .rules__item {
    font-size: 12px;
    max-width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .rules__item {
    font-size: 10px;
  }
}

.rules__item--bold {
  font-family: "ObjectSans-Heavy";
}

.rules__subitem {
  list-style: none;
}

.rules__subitem::before {
  content: '- ';
}

.rules__title {
  font-size: 27px;
}

@media screen and (max-width: 600px) {
  .rules__title {
    font-size: 20px;
    margin-top: 5px;
  }
}

@media screen and (max-width: 400px) {
  .rules__title {
    font-size: 15px;
  }
}

.rules__link {
  text-decoration: none;
  color: #ac2ff2;
}

.rules__title {
  display: block;
  margin-bottom: 15px;
}

@media screen and (max-width: 600px) {
  .rules__title {
    margin-bottom: 10px;
  }
}

.rules__footer {
  padding-top: 20px;
}

@media screen and (max-width: 600px) {
  .rules__footer {
    padding-top: 10px;
  }
}

.rules__footer-text {
  color: #c7c7c7;
  font-size: 14px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .rules__footer-text {
    font-size: 12px;
  }
}

@media screen and (max-width: 400px) {
  .rules__footer-text {
    font-size: 10px;
  }
}

.registration {
  max-width: 814px;
  border-radius: 10px;
  background-color: #fff;
  padding: 25px 33px 18px 33px;
  position: relative;
}

@media screen and (max-width: 600px) {
  .registration {
    padding: 20px;
  }
}

@media screen and (max-width: 400px) {
  .registration {
    padding: 15px;
  }
}

.registration::before {
  position: absolute;
  right: 0;
  bottom: 0;
  content: '';
  background-image: url("../images/registration-smile.png");
  width: 167px;
  height: 169px;
  background-repeat: no-repeat;
}

.registration__form {
  padding: 25px 0;
  border-top: 1px solid #91913c;
  border-bottom: 1px solid #cdcdcc;
}

@media screen and (max-width: 600px) {
  .registration__form {
    padding: 10px 0;
  }
}

.registration__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.registration__warning {
  color: #d93e83;
  font-size: 14px;
  margin-bottom: 21px;
}

@media screen and (max-width: 600px) {
  .registration__warning {
    font-size: 12px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 400px) {
  .registration__warning {
    font-size: 10px;
    margin-bottom: 5px;
  }
}

.registration__note {
  font-size: 14px;
  margin-bottom: 27px;
}

@media screen and (max-width: 600px) {
  .registration__note {
    font-size: 12px;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 400px) {
  .registration__note {
    font-size: 10px;
    margin-bottom: 5px;
  }
}

.registration__title {
  display: block;
  margin-bottom: 10px;
  font-size: 37px;
}

@media screen and (max-width: 900px) {
  .registration__title {
    font-size: 32px;
  }
}

@media screen and (max-width: 600px) {
  .registration__title {
    font-size: 25px;
  }
}

@media screen and (max-width: 400px) {
  .registration__title {
    font-size: 15px;
  }
}

.registration__field {
  width: 48%;
}

@media screen and (max-width: 600px) {
  .registration__field {
    width: 100%;
    margin-bottom: 10px;
  }
}

.registration__checkbox {
  margin-bottom: 18px;
}

@media screen and (max-width: 600px) {
  .registration__checkbox {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 400px) {
  .registration__checkbox {
    margin-bottom: 5px;
  }
}

.registration__button {
  background-image: -webkit-gradient(linear, left top, right top, from(#7776ff), to(#ae2cf1));
  background-image: linear-gradient(to right, #7776ff 0%, #ae2cf1 100%);
  border: none;
  outline: none;
  border-radius: 6px;
  padding: 11px 13px;
  font-size: 19px;
  text-align: center;
  color: #fff;
  min-height: 42px;
  margin-top: 5px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .registration__button {
    font-size: 12px;
    padding: 10px;
  }
}

@media screen and (max-width: 400px) {
  .registration__button {
    min-height: auto;
  }
}

.registration__link {
  display: block;
  text-decoration: none;
  margin-top: 20px;
  color: #7874ff;
  font-size: 19px;
}

@media screen and (max-width: 600px) {
  .registration__link {
    font-size: 12px;
    margin-top: 10px;
  }
}

.login {
  margin: 0 auto;
  max-width: 429px;
  border-radius: 10px;
  background-color: #fff;
  padding: 23px 33px 36px 33px;
  position: relative;
}

@media screen and (max-width: 600px) {
  .login {
    padding: 20px;
  }
}

@media screen and (max-width: 400px) {
  .login {
    padding: 15px;
  }
}

.login::before {
  position: absolute;
  right: 0;
  bottom: 0;
  content: '';
  background-image: url("../images/registration-smile.png");
  width: 167px;
  height: 169px;
  background-repeat: no-repeat;
}

.login__form {
  padding: 25px 0;
  border-top: 1px solid #cdcdcc;
  border-bottom: 1px solid #cdcdcc;
}

@media screen and (max-width: 600px) {
  .login__form {
    padding: 10px 0;
  }
}

.login__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.login__title {
  display: block;
  margin-bottom: 10px;
  font-size: 37px;
}

@media screen and (max-width: 900px) {
  .login__title {
    font-size: 32px;
  }
}

@media screen and (max-width: 600px) {
  .login__title {
    font-size: 25px;
  }
}

@media screen and (max-width: 400px) {
  .login__title {
    font-size: 15px;
  }
}

.login__button {
  background-image: -webkit-gradient(linear, left top, right top, from(#7776ff), to(#ae2cf1));
  background-image: linear-gradient(to right, #7776ff 0%, #ae2cf1 100%);
  border: none;
  outline: none;
  border-radius: 6px;
  padding: 11px 13px;
  font-size: 19px;
  line-height: 12.83px;
  text-align: center;
  color: #fff;
  min-height: 42px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .login__button {
    font-size: 12px;
    padding: 10px;
  }
}

@media screen and (max-width: 400px) {
  .login__button {
    min-height: auto;
  }
}

.login__link {
  display: block;
  text-decoration: none;
  color: #7874ff;
  font-size: 19px;
  margin-top: 25px;
}

@media screen and (max-width: 600px) {
  .login__link {
    font-size: 12px;
    margin-top: 10px;
  }
}

.login__password {
  margin-bottom: 20px;
  display: block;
  text-decoration: none;
  color: #7874ff;
  font-size: 19px;
}

@media screen and (max-width: 600px) {
  .login__password {
    font-size: 12px;
    margin-bottom: 10px;
  }
}

input[type="checkbox"] {
  display: none;
}

.registration__checkbox-label {
  padding-left: 10px;
}

@media screen and (max-width: 600px) {
  .registration__checkbox-label {
    font-size: 12px;
  }
}

@media screen and (max-width: 400px) {
  .registration__checkbox-label {
    font-size: 10px;
    margin-bottom: 5px;
  }
}

.registration__checkbox-label::before {
  content: '';
  display: inline-block;
  width: 22px;
  height: 22px;
  -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.22);
          box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.22);
  background-color: #ffffff;
  vertical-align: middle;
  margin-left: -10px;
  margin-right: 10px;
  border-radius: 50%;
}

@media screen and (max-width: 600px) {
  .registration__checkbox-label::before {
    width: 15px;
    height: 15px;
  }
}

input[type="checkbox"]:checked + .registration__checkbox-label::before {
  content: '';
  width: 22px;
  height: 22px;
  border: 4px solid #fff;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffc000), to(#ff9c00));
  background-image: linear-gradient(to top, #ffc000 0%, #ff9c00 100%);
}

@media screen and (max-width: 600px) {
  input[type="checkbox"]:checked + .registration__checkbox-label::before {
    width: 15px;
    height: 15px;
  }
}

.share__line {
  position: absolute;
  left: 22.7%;
  width: 9px;
  bottom: 65px;
  height: 355px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7776ff), to(#ae2cf1));
  background-image: linear-gradient(to bottom, #7776ff 0%, #ae2cf1 100%);
}

@media screen and (max-width: 600px) {
  .share__line {
    display: none;
  }
}

.share__title {
  display: block;
  font-size: 19px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 25px;
}

@media screen and (max-width: 600px) {
  .share__title {
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 5px;
  }
}

.share__body {
  padding: 25px 0;
  border-top: 1px solid #cdcdcc;
  border-bottom: 1px solid #cdcdcc;
}

.share-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.share-item:not(:last-child) {
  margin-bottom: 37px;
}

@media screen and (max-width: 600px) {
  .share-item:not(:last-child) {
    margin-bottom: 20px;
  }
}

.share-item__circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.22);
          box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.22);
  background-image: -webkit-gradient(linear, left top, right top, from(#ffc000), to(#ff9c00));
  background-image: linear-gradient(to right, #ffc000 0%, #ff9c00 100%);
}

@media screen and (max-width: 600px) {
  .share-item__circle {
    width: 30px;
    height: 30px;
  }
}

.share-item__circle-text {
  color: #fff;
  font-size: 20px;
}

@media screen and (max-width: 600px) {
  .share-item__circle-text {
    font-size: 15px;
  }
}

@media screen and (max-width: 600px) {
  .share-item__img {
    max-width: 30px;
  }
}

@media screen and (max-width: 400px) {
  .share-item__img {
    max-width: 25px;
  }
}

.share-item__text {
  max-width: 316px;
  font-size: 17px;
}

@media screen and (max-width: 600px) {
  .share-item__text {
    font-size: 12px;
    max-width: 300px;
  }
}

@media screen and (max-width: 470px) {
  .share-item__text {
    max-width: 250px;
  }
}

@media screen and (max-width: 400px) {
  .share-item__text {
    max-width: 200px;
  }
}

@media screen and (max-width: 350px) {
  .share-item__text {
    max-width: 180px;
  }
}

.share__link {
  text-decoration: none;
  color: #7776ff;
}

@media screen and (max-width: 680px) {
  .check__arrow {
    width: 60px;
  }
}

@media screen and (max-width: 500px) {
  .check__arrow {
    width: 50px;
  }
}

@media screen and (max-width: 370px) {
  .check__arrow {
    width: 30px;
  }
}

.check__title {
  font-size: 37px;
}

@media screen and (max-width: 900px) {
  .check__title {
    font-size: 32px;
  }
}

@media screen and (max-width: 600px) {
  .check__title {
    font-size: 25px;
  }
}

@media screen and (max-width: 400px) {
  .check__title {
    font-size: 15px;
  }
}

.check__icon {
  display: block;
}

@media screen and (max-width: 680px) {
  .check__icon {
    width: 60px;
  }
}

@media screen and (max-width: 500px) {
  .check__icon {
    width: 50px;
  }
}

@media screen and (max-width: 370px) {
  .check__icon {
    width: 30px;
  }
}

.gallery__link {
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
}

.gallery__info {
  background-color: #fff;
  color: #000;
  padding: 22px 23px 38px 23px;
}

@media screen and (max-width: 550px) {
  .gallery__info {
    padding: 15px;
  }
}

.gallery__info-title {
  display: block;
  font-size: 19px;
  text-transform: uppercase;
  margin-bottom: 14px;
}

@media screen and (max-width: 550px) {
  .gallery__info-title {
    font-size: 12px;
    margin-bottom: 10px;
  }
}

.gallery__info-text {
  font-size: 15px;
  text-align: justify;
}

@media screen and (max-width: 550px) {
  .gallery__info-text {
    font-size: 9px;
  }
}

.stock {
  padding: 32px 0;
}

.stock__swiper {
  margin: 0 auto;
  margin-top: 45px;
  position: relative;
}

@media screen and (max-width: 800px) {
  .stock__swiper {
    margin-top: 20px;
  }
}

.section {
  border-radius: 10px;
  overflow: hidden;
  width: 839px;
}

@media screen and (max-width: 991px) {
  .section {
    width: auto;
    max-width: 839px;
  }
}

.section__info {
  padding: 28px 41px 54px 41px;
  background-color: #fff;
}

@media screen and (max-width: 550px) {
  .section__info {
    padding: 15px;
  }
}

.section__info--note {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 35px;
}

.section__info-title {
  display: block;
  font-size: 19px;
  text-transform: uppercase;
  margin-bottom: 27px;
  text-align: center;
}

@media screen and (max-width: 550px) {
  .section__info-title {
    font-size: 12px;
    margin-bottom: 15px;
  }
}

.section__info-text {
  font-size: 15px;
  text-align: justify;
}

@media screen and (max-width: 550px) {
  .section__info-text {
    font-size: 9px;
  }
}

.draft__wrap {
  margin-bottom: 45px;
}

@media screen and (max-width: 700px) {
  .draft__wrap {
    margin-bottom: 20px;
  }
}

.draft__wrap--note {
  margin-top: 115px;
  margin-bottom: 165px;
}

@media screen and (max-width: 700px) {
  .draft__wrap--note {
    margin: 100px 0;
  }
}

@media screen and (max-width: 550px) {
  .draft__wrap--note {
    margin: 40px 0;
  }
}

.draft__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.22);
          box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.22);
  background-color: #ffffff;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding-left: 6px;
}

.draft__item::before {
  position: absolute;
  left: 0;
  content: '';
  width: 6px;
  height: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffc000), to(#ff9c00));
  background-image: linear-gradient(to top, #ffc000 0%, #ff9c00 100%);
}

.draft__item:not(:last-child) {
  margin-bottom: 13px;
}

.draft__info {
  padding: 14px 17px;
}

@media screen and (max-width: 900px) {
  .draft__info {
    padding: 10px;
  }
}

.draft__info-number {
  font-size: 19px;
}

@media screen and (max-width: 700px) {
  .draft__info-number {
    font-size: 15px;
  }
}

@media screen and (max-width: 500px) {
  .draft__info-number {
    font-size: 10px;
  }
}

.draft__info-number--process {
  color: #d3d3d3;
}

.draft__status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 14px 11px 9px 11px;
  min-width: 147px;
}

@media screen and (max-width: 900px) {
  .draft__status {
    padding: 10px;
  }
}

@media screen and (max-width: 700px) {
  .draft__status {
    min-width: auto;
    padding: 10px;
  }
}

@media screen and (max-width: 520px) {
  .draft__status {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 400px) {
  .draft__status {
    padding: 5px;
  }
}

.draft__status--finish {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffc000), to(#ff9c00));
  background-image: linear-gradient(to top, #ffc000 0%, #ff9c00 100%);
}

.draft__status--process {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#7776ff), to(#ae2cf1));
  background-image: linear-gradient(to top, #7776ff 0%, #ae2cf1 100%);
}

.draft__status-img {
  margin-right: 4px;
}

.draft__status-text {
  font-size: 19px;
  color: #fff;
}

@media screen and (max-width: 700px) {
  .draft__status-text {
    font-size: 15px;
  }
}

@media screen and (max-width: 500px) {
  .draft__status-text {
    font-size: 10px;
  }
}

.draft__sum {
  font-size: 19px;
  text-align: center;
  margin-top: 27px;
}

@media screen and (max-width: 700px) {
  .draft__sum {
    font-size: 15px;
  }
}

@media screen and (max-width: 500px) {
  .draft__sum {
    font-size: 10px;
  }
}

.draft__sum-count {
  font-family: "ObjectSans-Heavy";
}

.draft__button {
  display: block;
  border-radius: 6px;
  background-image: -webkit-gradient(linear, left top, right top, from(#ffc000), to(#ff9c00));
  background-image: linear-gradient(to right, #ffc000 0%, #ff9c00 100%);
  text-decoration: none;
  padding: 11px;
  margin: 0 auto;
  width: 453px;
  text-align: center;
  color: #fff;
  font-size: 19px;
}

@media screen and (max-width: 700px) {
  .draft__button {
    font-size: 15px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
}

@media screen and (max-width: 500px) {
  .draft__button {
    font-size: 10px;
  }
}

.draft-note__text {
  text-align: center;
  font-size: 19px;
  margin-bottom: 27px;
}

@media screen and (max-width: 550px) {
  .draft-note__text {
    font-size: 12px;
    margin-bottom: 10px;
  }
}

.draft-note__line {
  left: 0;
  width: 100%;
  background-color: #ffee92;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 17px 0;
}

.draft-note__line-img {
  margin-right: 12px;
}

@media screen and (max-width: 550px) {
  .draft-note__line-img {
    width: 40px;
  }
}

@media screen and (max-width: 400px) {
  .draft-note__line-img {
    width: 30px;
  }
}

.draft-note__line-text {
  font-size: 28px;
}

@media screen and (max-width: 700px) {
  .draft-note__line-text {
    font-size: 20px;
  }
}

@media screen and (max-width: 550px) {
  .draft-note__line-text {
    font-size: 15px;
  }
}
/*# sourceMappingURL=style.css.map */